mixin genericForm(params)
    text(id=params.name + '-success', style="color:green")
    text(id=params.name + '-failure', style="color:red")
    form.form(id=params.name + '-form')
        each field in params.fields
            div.form-group.has-feedback(id=params.name + '-' + field.name, style="margin-bottom: 5px;")
                input.form-control.input-sm&attributes(field)(onkeyup= params.onKeyUp, onchange= params.onChange)
                span.glyphicon.form-control-feedback(data-toggle='tooltip', style="pointer-events: auto;")

    script.
        $('#' + '#{params.name}' + '-form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '#{params.url}',
                type: 'post',
                data: $('#' + '#{params.name}' + '-form').serialize(),
                success: function (content) {
                    $('#' + '#{params.name}' + '-success').text(#{params.onSuccess}(content));
                    $('#' + '#{params.name}' + '-failure').text('');
                },
                error: function (content) {
                    $('#' + '#{params.name}' + '-success').text('');
                    $('#' + '#{params.name}' + '-failure').text(#{params.onFailure}(content));
                }
            });
        })

