mixin genericForm(params)
    form.form(id=params.name + '-form')
        output(id=params.name + '-output')
        each field in params.fields
            div.form-group.has-feedback(id=params.name + '-' + field.name, style="margin-bottom: 5px;")
                input.form-control.input-sm&attributes(field)
                span.glyphicon.form-control-feedback(data-toggle='tooltip', style="pointer-events: auto;")

    script.
        (function () {
            // Functions may have not been set, which would cause the jade parameter will evaluate to an
            // empty string.  To allow for proper checking of these values I put them in arrays and indexed on 0 -
            // if the function isn't implemented the definition will look like this [][0] (which evaluates to
            // undefined)
            const postUrl = '#{params.url}';
            const onSuccess = [#{params.onSuccess}][0];
            const onFailure = [#{params.onFailure}][0];
            const onChange = [#{params.onChange}][0];
            const onKeyUp = [#{params.onKeyUp}][0];
            const form = $('#' + '#{params.name}' + '-form');
            const output = $('#' + '#{params.name}' + '-output');

            form.submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: postUrl,
                    type: 'post',
                    data: form.serialize(),
                    success: function (content) {
                        output.css('color', 'green');
                        output.text((onSuccess) ? onSuccess(content) : content.responseText);
                    },
                    error: function (content) {
                        output.css('color', 'red');
                        output.text((onFailure) ? onFailure(content) : content.responseText);
                    }
                });
            }).change(function (e) {
                output.text("");
                if (onChange) onChange(e)
            }).keyup(function (e) {
                output.text("");
                if (onKeyUp) onKeyUp(e)
            })
        })()